name: Packager

on:
  push:
    tags:
      - 'v*'  # Triggers when you push a tag like v1.0.1
    branches:
      - main  # Triggers "Alpha" builds on every commit (optional)

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for changelog generation

      - name: Package and Upload
        uses: BigWigsMods/packager@v2
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          # WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }} # Uncomment if you also use Wago
          # GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }} # Generates a Release on GitHub too